*.pyc
.vscode/settings.json
ssd/new_ssd_label_computations.py
ssd/old_ssd_label_computations.py
.vscode/.ropeproject/config.py
.vscode/.ropeproject/objectdb
._*.py
._pt_requirements.txt
.vscode/launch.json
examples/class_sample/*
examples/class_sample/model_specs.json